.Post{
    display: flex;
    align-items: flex-end;

    width: 600px;
    min-height: 120px;

    background-color: #121414;

    border-radius: 45px;

    color: white;

    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.Post .item{
    padding: 30px;
}

.Post .element{
    padding: 20px;
}